extends ../includes/page

block head
  -
    title = "Impressario | Partners"

block styles
  link(rel="stylesheet" href="css/libs.min.css")
  link(rel="stylesheet" href="css/index.min.css")

block scripts
  script(src="scripts/libs.min.js")
  script(src="scripts/index.js")

block main
  section.page-section.page-section--intro#intro
    .page-section__inner
      .page-section__column.page-section__column--title
        h1.section-title Our spirit grows serene
        h3.section-message When our cause is pure and green!

      .page-section__column.page-section__column--illustration
        .illustration__background.illustration
          img(src="img/illustration-bg.webp" alt="Background")
        .illustration__castle.illustration
          img(src="img/illustration-castle.webp" alt="Castle")
        .illustration__cloud-small.illustration
          img(src="img/illustration-cloud-small.webp" alt="Cloud small")
        .illustration__impressario.illustration
          img(src="img/impressario.webp" alt="Impressario")
        .illustration__scrolling.illustration
          p.scrolling__text scrolling
          img(src="img/scrolling.svg" alt="Scrolling")

  section.page-section.page-section--about#about
    .page-section__inner
      .page-section__column.page-section__column--illustration
        .illustration__cloud-big
          img(src="img/illustration-cloud-big.webp" alt="Cloud big")
        .illustration__cloud-left
          img(src="img/illustration-cloud-left.webp" alt="Cloud left")
      .page-section__wrapper
        h2.section-title About Us
        p.section-message Online casinos are associated with fun, excitement and pure adrenaline. But Impressario believes there should be more in life than the red and black of the roulette. Like, for example, the green of the environment. This is why we have launched our Corporate Social Responsibility Program “Greenmpressario”, where, with the help of our beloved players, we do something good for our planet. Read about Greenmpressario’s twin actions and how they help make a difference for a greener world, below.
      .page-section__column.page-section__column--steps
        .steps__item#green-spins
          .steps__image
            img(src="img/about-image-1.webp" alt="Green spin")
          .steps__info
            .steps__info-title
              span.steps__info-action Action 01:
                span.steps__info-name  Green Spins
            p.steps__info-text This is a pledge from Impressario Casino to donate 10 cents for every €100 of deposits made by our players to The Nature Conservancy* organization. Since 10 cents is usually the minimum amount of a free spin, we call this amount a “Green Spin”. So, next time you go for the slots’ wilds, you will also protect the wild life. With Green Spins, the planet wins.
        .steps__item#vips-for-trees
          .steps__info
            .steps__info-title
              span.steps__info-action Action 02:
                span.steps__info-name  VIPs for Trees
            p.steps__info-text This is a pledge from Impressario Casino to donate 10 cents for every €100 of deposits made by our players to The Nature Conservancy* organization. Since 10 cents is usually the minimum amount of a free spin, we call this amount a “Green Spin”. So, next time you go for the slots’ wilds, you will also protect the wild life. With Green Spins, the planet wins.
          .steps__image
            img(src="img/about-image-2.webp" alt="Green spin")
          .steps__image.steps__image--mobile
            img(src="img/about-image-2-mobile.webp" alt="Green spin")

        .steps__logo
          .steps__logo-item
            img(src="img/tree-nation.svg" alt="Tree-nation")
          .steps__logo-item
            img(src="img/tnc.svg" alt="TNC")

        p.steps__text *The Nature Conservancy is a global environmental nonprofit working to create a world where people and nature can thrive. Founded in the U.S. through grassroots action in 1951, it has grown to become one of the most effective and wide-reaching environmental organizations in the world.
        p.steps__text **Tree Nation allows citizens and companies to plant trees all around the world and offset their CO2 emissions. Thanks to its reforestation and conservation projects, Tree Nation helps to restore forests, create jobs, support local communities and protect biodiversity.

  section.page-section.page-section--faq#faq
    .page-section__inner
      .page-section__column.page-section__column--title
        h2.section-title FAQ
        p.section-message Please see below answers to  possible queries. If your question is not on the list, one of our Affiliate Managers will be happy to assist you.

      .page-section__column.page-section__column--accordion
        .ac
          h2.ac-header
            button.ac-trigger(type='button') What is Greenmpressario?
          .ac-panel
            p.ac-text Greenmpressario is Impressario Casino’s Corporate Social Responsibility (CSR) program. It’s our way of giving back to the planet with eco-friendly initiatives supported by our players.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') What are the Greenmpressario actions?
          .ac-panel
            p.ac-text The program currently includes two actions: 
            ol.ac-text__list
              li.ac-text__list-item
                p Green Spins. We donate to environmental causes based on your deposits.
              li.ac-text__list-item
                p VIPs for Trees. We plant trees for our highest-tier players.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') How does the Green Spins action work?
          .ac-panel
            p.ac-text For every €100 deposited by our players, Impressario donates 10 cents to The Nature Conservancy. Since 10 cents is often the minimum value of a free spin, we call it a Green Spin.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') What is VIPs for Trees?
          .ac-panel
            p.ac-text Every time one of our VIPs deposits over €/$1000, we plant a tree on their behalf through Tree Nation. Each tree is added to the Forest of Impressario and includes a personalized message for the VIP who inspired it.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Where are the trees planted?
          .ac-panel
            p.ac-text Trees are planted around the world through Tree Nation’s reforestation projects, which also support local communities, protect biodiversity, and fight climate change.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Can I see the tree planted in my name?
          .ac-panel
            p.ac-text Yes! VIPs receive a personalized message and a digital certificate for their tree. You’ll be able to view it in our Forest of Impressario and even track its impact.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Do I need to do anything to participate?
          .ac-panel
            p.ac-text No extra steps are needed! Just by playing and depositing as usual, you’re already part of the change. Impressario takes care of the donations and the tree planting on your behalf.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Why is Impressario doing this?
          .ac-panel
            p.ac-text Because we believe online fun and real-world impact can go hand in hand.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Isn’t this just greenwashing?
          .ac-panel
            p.ac-text No. Greenwashing means using environmental claims purely for marketing, without real action behind them. Our donations to The Nature Conservancy and our partnership with Tree Nation are transparent, trackable, and ongoing.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Isn’t 10 cents per €100 a tiny amount? Does it really help?
          .ac-panel
            p.ac-text On its own, it may sound small. But Green Spins are designed to accumulate with the power of the crowd. When thousands of players deposit and play, those cents add up to meaningful donations. Just like in a slot game, small spins can lead to big wins — and in this case, the win is for the planet.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Why should a casino care about the environment?
          .ac-panel
            p.ac-text Because everyone should. Just because we provide entertainment doesn’t mean we should ignore the world around us. We believe a business can be fun and responsible at the same time. Greenmpressario is our way of proving that you can enjoy the thrill of the game while being part of something good.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Be honest — is this just a PR stunt?
          .ac-panel
            p.ac-text Greenmpressario is real. Real money goes to real environmental causes. Real trees are planted (with roots and leaves and everything). We’re not saving the planet overnight, but we’re not sitting on our hands either. And if we can spin, win, and help a forest grow while we’re at it… why not?
        .ac
          h2.ac-header
            button.ac-trigger(type='button') So you’re basically saying I can save the world by gambling?
          .ac-panel
            p.ac-text Not quite. But we’re saying if you are going to gamble, doing it somewhere that plants trees and donates to wildlife protection sounds a lot cooler than doing it in a digital void with zero purpose.
        .ac
          h2.ac-header
            button.ac-trigger(type='button') Why not plant a tree for every player, not just VIPs?
          .ac-panel
            p.ac-text We would love that! But we’d also love to stay in business. So, for now, VIPs get the roots, everyone gets the Green Spins, and the planet gets the love.

      .page-section__column.page-section__column--button
        +button(href="https://impressario.partners/") Impressario