.footer
  padding 50px 0

  &__logo
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    gap 30px
    margin-bottom 50px

  &__menu
    margin-bottom 50px
  
    &-list
      display flex
      align-items center
      justify-content center
      gap 20px
    
    &-link
      font-weight 700
      font-size 20px
      color #555

      &:hover
        text-decoration underline

  &__info
    font-weight 500
    font-size 16px
    line-height 1.5
    text-align center
    color #555

//media
@media (max-width 1024px)
  .footer
    &__logo
      &-item
        &:nth-child(1)
          order 2

        &:nth-child(2)
          order 1
          width 100%
          text-align center

        &:nth-child(3)
          order 3

@media (max-width 768px)
  .footer
    &__menu
      &-list
        flex-direction column
        gap 50px