mixin footer()
  footer.footer
    .page-section__inner
      .footer__logo
        .footer__logo-item
          img(src="img/tree-nation.svg", alt="")
        .footer__logo-item
          img(src="img/footer-logo.webp", alt="")
        .footer__logo-item
          img(src="img/tnc.svg", alt="")
      
      nav.footer__menu
        ul.footer__menu-list
          li.footer__menu-item
            a(href="#").footer__menu-link About Us
          li.footer__menu-item
            a(href="#").footer__menu-link Green Spins
          li.footer__menu-item
            a(href="#").footer__menu-link VIPS for Trees
          li.footer__menu-item
            a(href="#").footer__menu-link FAQ

      p.footer__info Greenmpressario is the Corporate Social Responsibility (CSR) initiative of Impressario Casino, reflecting our commitment to environmental sustainability and social impact. Through this program, we aim to contribute meaningfully to global conservation efforts, while staying true to our values of responsibility, transparency, and community engagement.