@media (max-width 1248px)
  .page-section--intro
    height 820px

    .page-section__column--title
      top 400px

      .section-title
        font-size 44px
        line-height 0.90909
        max-width 340px

      .section-message
        font-size 36px
        line-height 1
        max-width 340px

    .page-section__column--illustration
      .illustration__background
        img
          width 1300px

      .illustration__castle
        right 0

        img
          width 600px

      .illustration__cloud-small
        top 290px
        right -10px

        img
          width 200px

      .illustration__impressario
        img
          width 260px

      .illustration__scrolling
        top 670px !important

  .page-section--about
    .page-section__column--illustration
      .illustration__cloud-big
        top -290px
        right -110px

        img
          width 800px

      .illustration__cloud-left
        top -290px
        left -30px

        img
          width 800px

    .page-section__wrapper
      .section-title
        font-size 36px
      
      .section-message
        font-size 20px

    .page-section__column--steps
      .steps__item
        display flex
        align-items center
        flex-direction column

        .steps__image
          img
            max-width 100%

        .steps__info
          position static
          width 100%

          &--text
            font-size 20px

        &:first-child
          margin-top -200px

          .steps__image
            margin-left 0
            margin-left -100px

            img
              max-width 140%

          .steps__info
            margin-top -150px

        &:nth-child(2)
          flex-direction column-reverse
          margin-bottom 50px
          padding-top 30px

          .steps__image
            margin-left -70px

            img
              max-width 120%
              width unset

      .steps__text
        font-size 20px

  .page-section--faq
    .page-section__inner
      .page-section__column--accordion
        .ac-trigger
          font-size 20px

        .ac-text
          font-size 18px

        .ac-text__list-item
          font-size 16px

    .page-section__column--title
      .section-title
        font-size 36px

@media (max-width 1024px)
  .page-section--intro
    .page-section__column--title
      margin 0

@media (max-width 768px)
  .page-section--intro
    height 700px

    .page-section__column--title
      top 400px

    .page-section__column--illustration
      .illustration__background
        img
          width 900px

      .illustration__castle
        right -40px
        
        img
          width 470px

      .illustration__cloud-small
        top 230px
        right 0

        img
          width 120px

      .illustration__impressario
        top 200px
        right 10px

        img
          width 240px

      .illustration__scrolling
        top 600px !important

  .page-section--about
    .page-section__column--illustration
      .illustration__cloud-big
        top -230px
        right -90px

        img
          width 560px

      .illustration__cloud-left
        display none

    .page-section__wrapper
      .section-message
        font-size 16px

    .page-section__column--steps
      .steps__item
        &:first-child
          margin-top -210px
        
          .steps__info
            margin-top -20vw

        &:nth-child(2)
          .steps__image
            display none

            &--mobile
              display block
              margin-left -20px

      .steps__info
        &-text
          font-size 16px
          padding 20px

      .steps__text
        font-size 18px

  .page-section--faq
    .page-section__inner
      .page-section__column--accordion
        .ac-trigger
          font-size 20px

        .ac-text
          font-size 16px

        .ac-text__list-item
          font-size 14px

@media (max-width 550px)
  .page-section--intro
    height 800px

    .page-section__column--title
      top 470px

    .page-section__column--illustration
      .illustration__scrolling
        top 670px !important

  .page-section--about
    .page-section__column--illustration
      .illustration__cloud-big
        top -430px
        right -50px

        img
          width 730px
  
      .cloud-big--mobile
        display block

  .page-section--faq
    .page-section__inner
      .page-section__column--accordion
        .ac-trigger
          font-size 18px

        .ac-text
          font-size 14px

        .ac-text__list-item
          font-size 12px

@media (max-width 425px)
  .page-section--intro
    .page-section__column--illustration
      .illustration__castle
        right auto
        left -20px

      .illustration__cloud-small
        right auto
        left 230px

      .illustration__impressario
        top 210px
        right auto
        left 170px

  .page-section--about
    .page-section__column--illustration
      .illustration__cloud-big
        right -110px

@media (max-width 375px)
  .page-section--intro
    .page-section__column--title
      .section-message
        margin-left 15px

    .page-section__column--illustration
      .illustration__castle
        left -50px

      .illustration__impressario
        left 120px
