@keyframes float
  0%
    transform: translateY(0) translateX(0)
  50%
    transform: translateY(-10px) translateX(5px)
  100%
    transform: translateY(0) translateX(0)

@keyframes float-reverse
  0%
    transform: translateY(0) translateX(0)
  50%
    transform: translateY(10px) translateX(-5px)
  100%
    transform: translateY(0) translateX(0)

float-animation(duration = 6s, delay = 0s, reverse = false)
  animation: (reverse ? float-reverse : float) duration ease-in-out infinite
  animation-delay: delay
